@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";


$zra9: #1a76d1;

$custom-colors: (
"zra9": $zra9,
);

$theme-colors: map-merge($custom-colors , $theme-colors);
