* {
    margin: 0;
    padding: 0;
}

footer {
    div{
        p{
            margin-bottom: 0;
        }
    }
}
.mrg{
    div{
        p{
            margin-bottom: 0;
        }
    }
}
.subs {
    position: relative;
    display: inline-block;
    color: white;
    background-image: linear-gradient(#363636, #363636);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

.subs:hover {
    background-size: 100% 100%;
    color: #fff;
}
.foot{
    width: 80%;
}


.foot-hov{
    div{
        .fb,.pt{
            padding: 8px 11px !important;
        }
        i{
            &:hover{
                background-color: white !important;
                color: $zra9 !important;
            }
        }
    }
}
@media (max-width:430px) {
    .sec-footer{
        .foot{
            width: 96%;
            div{
                div{
                    width: 96% !important;
                }
            }
        }
    }
}


.popup {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    z-index: 1;
    a{
        height: 100px;
        width: 100px;
        bottom: 40px;
        i {
            font-size: 50px;
        }
    }
}